body {
font-family: Arial, sans-serif;
  text-align: center;
}
main {
  display: inline-block;
  position: relative;
}

/* start */
#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 19, 19, 0.8);
  color: white;
}

#menu {
  display: flex;
  justify-content: space-evenly;
  margin-top: 220px;
}
h3,
p {
  color: white;
}
#menu p {
  width: 100px;
  font-size: 24px;
  padding: 3px;
  margin: 15px;
  border: solid 1px white;
  cursor: pointer;
  background: black;
  color: white;
}

/* game */
#board {
  margin: 0 auto;
  background: #555555;
}
td.cell {
  background: rgb(128, 216, 154);
  width: 46px;
  height: 46px;
  margin: 2px;
}
.cell div {
  width: 100%;  /* 親要素（セル）の90%を使う */
  height: 100%;
  border-radius: 0%;
  margin: auto;
border-radius: 0 !important; 
}
.cell-6 > tr > td {
  width: 63px;
  height: 63px;
}
.cell-6 > tr > td > div {
  width: 50px;
  height: 50px;
}
.cell-4 > tr > td {
  width: 92px;
  height: 92px;
}
.cell-4 > tr > td > div {
  width: 70px;
  height: 70px;
}
.black {
  background-image: url("black-stone.png"); /* 黒のコマ画像 */
  background-size: cover;
  width: 250%;
  height: 250%;
}
.white {
  background-image: url("white-stone.png"); /* 白のコマ画像 */
  background-size: cover;
  width: 250%;
  height: 250%;
}
h2 {
  text-align: center;
  margin: 5px 0;
white-space: nowrap;
}
#counter {
  margin: 0 auto;
  width: 350px;
  display: flex;
  line-height: 50px;
  font-weight: bold;
  justify-content: space-between;
}
#numBlack {
  font-size: 36px;
  margin: 5px;
  width: 100px;
  height: 50px;
  background: black;
  color: white;
  border-radius: 5px;
display: inline-block;
}
#numWhite {
  font-size: 36px;
  margin: 5px;
  width: 100px;
  height: 50px;
  border: solid 1px black;
  border-radius: 5px;
display: inline-block;
}

/* end */
#restartBtn {
  z-index: 1;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -110%);
  color: black;
  background: white;
}
.hide {
  display: none;
}
.highlight {
  background-color: rgba(0, 255, 0, 255); /* 薄い緑色 */
}
.cell.highlight {
  background-color: rgb(218, 220,160);
}
img {
    width: auto; /* 画像のサイズ調整 */
    height: 400px;
justify-content: center;
   display: flex;
text-align:center;
}